# dependencies
node_modules

#build
dist
dist-electron
out
release

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
vite.config.ts.timestamp-*

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
